button{
	outline: none;
}

button::focus-inner {
	border: 0;  
	padding: 0;
}
button::-webkit-focus-inner{
	border: 0;  
	padding: 0;
}
button::-khtml-focus-inner{
	border: 0;  
	padding: 0;
}
button::-moz-focus-inner{
	border: 0;  
	padding: 0;
}

.ui-btn{
    display: inline-block;
	padding: 4px 12px;
	border-style: none;
	text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    font-size: 14px;
	font-weight: bold;
	-webkit-border-radius: 2px;
	 -khtml-border-radius: 2px;
	   -moz-border-radius: 2px;
	   		border-radius: 2px;
}

/** blue **/
.ui-btn-blue,
.ui-btn-blue:active,
.ui-btn-blue:hover {
	 color: #fff!important;
}
.ui-btn-blue{
	background-color: #3399ff;
}
.ui-btn-blue:hover{
	background-color: #0E76BD;
}
.ui-btn-blue:active{
	background-color: #045082;
}

/** navy-blue **/
.ui-btn-navy-blue,
.ui-btn-navy-blue:active,
.ui-btn-navy-blue:hover {
	 color: #fff!important;
}
.ui-btn-navy-blue{
	background-color: #0E76BD;
}
.ui-btn-navy-blue:hover{
	background-color: #045082;
}
.ui-btn-navy-blue:active{
	background-color: #118ADB;
}

/** green **/
.ui-btn-green,
.ui-btn-green:active,
.ui-btn-green:hover {
	 color: #fff!important;
}
.ui-btn-green{
	background-color: #03AD04;
}
.ui-btn-green:hover{
	background-color: #016203;
}
.ui-btn-green:active{
	background-color: #4DC652;
}

/** gray **/
.ui-btn-gray,
.ui-btn-gray:active,
.ui-btn-gray:hover {
	 color: #fff!important;
}
.ui-btn-gray{
	background-color: #6A6E6F;
}
.ui-btn-gray:hover{
	background-color: #444547;
}
.ui-btn-gray:active{
	background-color: #88898B;
}

/** red **/
.ui-btn-red,
.ui-btn-red:active,
.ui-btn-red:hover {
	 color: #fff!important;
}
.ui-btn-red{
	background-color: #DD3B3B;
}
.ui-btn-red:hover{
	background-color: #dc1010;
}
.ui-btn-red:active{
	background-color: #e75050;
}
