button{
	outline: none;
}

button::focus-inner {
	border: 0;  
	padding: 0;
}
button::-webkit-focus-inner{
	border: 0;  
	padding: 0;
}
button::-khtml-focus-inner{
	border: 0;  
	padding: 0;
}
button::-moz-focus-inner{
	border: 0;  
	padding: 0;
}

.ui-btn{
    display: inline-block;
	padding: 4px 12px;
	line-height: 20px;
	border-style: none;
	text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    font-size: 14px;
	font-weight: bold;
	-webkit-border-radius: 2px;
	 -khtml-border-radius: 2px;
	   -moz-border-radius: 2px;
	   		border-radius: 2px;
}
.ui-btn:active {
    position: relative;
    top: 1px;
}

/** primary **/
.ui-btn-primary,
.ui-btn-primary:active,
.ui-btn-primary:hover {
	 color: #fff!important;
}
.ui-btn-primary{
	background-color: #0E76BD;
}
.ui-btn-primary:hover{
	background-color: #045082;
}
.ui-btn-primary:active{
	background-color: #118ADB;
}

/** secondary **/
.ui-btn-secondary,
.ui-btn-secondary:active,
.ui-btn-secondary:hover {
	 color: #fff!important;
}
.ui-btn-secondary{
	background-color: #3399ff;
}
.ui-btn-secondary:hover{
	background-color: #0E76BD;
}
.ui-btn-secondary:active{
	background-color: #045082;
}

/** inverse **/
.ui-btn-inverse,
.ui-btn-inverse:active,
.ui-btn-inverse:hover {
	 color: #fff!important;
}
.ui-btn-inverse{
	background-color: #6A6E6F;
}
.ui-btn-inverse:hover{
	background-color: #444547;
}
.ui-btn-inverse:active{
	background-color: #88898B;
}

/** danger **/
.ui-btn-danger,
.ui-btn-danger:active,
.ui-btn-danger:hover {
	 color: #fff!important;
}
.ui-btn-danger{
	background-color: #DD3B3B;
}
.ui-btn-danger:hover{
	background-color: #dc1010;
}
.ui-btn-danger:active{
	background-color: #e75050;
}